VITE_SUPABASE_URL=https://arezevmmixudgihjnsfh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFyZXpldm1taXh1ZGdpaGpuc2ZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAyODQ4MjgsImV4cCI6MjA2NTg2MDgyOH0.buLNx5fy_BW__hWYLYq2kOhHpKczPssi-Bw8nxKE9K4